body{
    background:lightblue;
}
.hatter{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#66ccff,lightblue);
    z-index: 3;
}
.helyzetsav{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 5%;
    background-color: white;
    border: dashed deepskyblue 1px;
    z-index: 4;
}
.ev{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 20%;
    height: 5%;
    margin: 1px;
    z-index: 5;
}
.osztaly{
    position: absolute;
    left: 30%;
    top: 10%;
    width: 20%;
    height: 5%;
    margin: 1px;
    z-index: 5;
}
.diak{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 20%;
    height: 5%;
    margin: 1px;
    z-index: 5;
}
.targy{
    position: absolute;
    left: 70%;
    top: 10%;
    width: 20%;
    height: 5%;
    margin: 1px;
    z-index: 5;
}
.gomb{
    color: deepskyblue;
    position: absolute;
    top: 17%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    height: 5%;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
    
    background-color: whitesmoke;
    border: deepskyblue solid 1px;
    border-radius: 5px;
}
.gomb:hover{
    background-color: palegoldenrod;
}
#gomb1{
    left: 15%;
}
#gomb2{
    left: 55%;
}
#gomb3{
	top: 85%;
	left: 13%;
}
.lista{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 35%;
    min-height: 50%;
    height: auto;
    background-color: white;
    border: dashed deepskyblue 1px;
    z-index: 4;
    margin-bottom: 5%;
}
.listaelem{
    color: deepskyblue;
    width: 98%;
    margin: 1%;
    height: auto;
    background-color: whitesmoke;
    text-align: center;
}
.listaelem:hover{
    background-color: palegoldenrod;
}